@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #d19f0a;
  --color-secondary: #F2F2F2;
  --color-tertiary: #9CA3AF;

}

body {
  margin: 0;
  
}

* {
  box-sizing: border-box;
} 

